/* CSS for home.html */
/* CSS for header */
.col-md-12{
    padding: 0;
}
/* CSS for text */
.my-intro{
    text-align: justify;
}
/* CSS for main */
/* CSS class fontsize */
.fontsize{
    font-size: 50px;
    margin-bottom: 5px;
}
/* CSS for post slider */
/* .update{
    padding-top: 20px;
} */
/* CSS class fix */
.fix {
    background: transparent;
    border: 0px;
    padding-left: 0px;
}
/* CSS class fix_ */
.fix_{
    padding-top: 50px;
}
/* CSS for footer */
.footer{
    background:#f9f9f9;
    margin-top: 50px;
}
/* CSS for post.html */
/* CSS for footer */
.item{
    margin-top: 30px;
}
/* CSS for view.html */
.other{
    margin-bottom: 3px;
}